.header{
 background-color:  #0076ce;
 color: #fff;
}
.dellIcon{
  margin-top: 3px;
}


.inputContainer{
  margin-left: 100px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 9px;
  border: 1px solid gray;
  border-radius: 1em;
  width : 750px;
  height: auto;
  /* background-color:whitesmoke; */
  color:black;
  border-radius: 0.5em;
}
.dds__accordion-card-body{
  margin-right: 35px;
  margin-bottom: 70px;
}
.inputUploadContainer{
  margin-left: 105px;
  padding-left: 5px;
  padding-top: 8px;
  width: 500px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 0.5em;
}
#fileinput{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
td{
  font-weight:  500;
}
#AddNewInputBar * {
  pointer-events: none
}
.dds__default-footer{
  position: fixed;
}
.mainbody{
  padding-left: 0px;
  margin-top: 10px;
  height: 535px;
  padding-top: 5px;
  margin-left: 60px;
  margin-right: 60px;
  overflow-y: auto;
  /* border: 2px solid lightgrey; */
  border-radius: 0.6em;
  /* box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 0.2); */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.icon{
  color: aqua;
}
/* .dds__show-hide-container{
  margin-left: 10px;
} */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:lightslategray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:lightskyblue; 
}


.war{
  background-color: yellow;
  
  white-space:normal;

}

.err{
  background-color:rgba(255, 0, 0, 0.678);
  white-space:normal;
}

body{
  font-family: "Cordia New","Microsoft Sans Serif",Utsaah,"Devanagari MT","Nirmala UI",Latha,InaiMathi,Gautami,"Telugu Sangam MN",Tunga,"Kannada Sangam MN",Kartika,"Malayalam Sangam MN",Shruti,"Nirmala UI","Gujarati MT","Gujarati Sangam MN",Vrinda,"Bangla Sangam MN","Meiryo UI Reg","メイリオ Reg","MS UI Gothic Reg","Hiragino Kaku Gothic Reg","ヒラギノ角ゴ Pro W3 Reg","Microsoft YaHei","微软雅黑","Hiragino Sans GB","Microsoft JhengHei","微軟正黑體","Malgun Gothic","맑은 고딕",Gulim,AppleGothic,"Apple LiGothic","LiHei Pro",Osaka,STHeiti,"华文黑体",STXihei,"华文细黑",SimHei,"黑体","Arial Unicode MS",Arial,sans-serif;
}