.header{
 background-color:  #0076ce;
 color: #fff;
}
.dellIcon{
  margin-top: 3px;
}


.inputContainer{
  margin-left: 100px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 9px;
  border: 1px solid gray;
  border-radius: 1em;
  width : 750px;
  height: auto;
  /* background-color:whitesmoke; */
  color:black;
  border-radius: 0.5em;
}
.dds__accordion-card-body{
  margin-right: 35px;
}
.inputUploadContainer{
  margin-left: 105px;
  padding-left: 5px;
  padding-top: 8px;
  width: 500px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 0.5em;
}
#fileinput{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
td{
  font-weight:  500;
}
#AddNewInputBar * {
  pointer-events: none
}
.dds__default-footer{
  position: fixed;
}
.mainbody{
  padding-left: 0px;
  margin-top: 10px;
  height: 544px;
  padding-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  overflow-y: auto;
  /* border: 2px solid lightgrey; */
  border-radius: 0.6em;
  /* box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 0.2); */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dds__show-hide-container{
  margin-left: 600px;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:lightslategray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:lightskyblue; 
}


.war{
  background-color: yellow;
  
  white-space:normal;

}

.err{
  background-color:rgba(255, 0, 0, 0.678);
  white-space:normal;
}
body{

  background-color: beige;
}
